/*.item-box {*/
/*    border: 1px solid #9d9d9d;*/
/*}*/

/*.the-box {*/
/*    overflow: hidden;*/
/*}*/

/*.the-box:hover .the-image {*/
/*    transform: scale(1.1);*/
/*    transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);*/
/*}*/

/*.the-box:hover .the-image {*/
/*    opacity: 0.9;*/
/*}*/




.backgroundImageHeader {
    /* The image used */
    background-image: url("../images/FOG.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whiteLink {
    color: white;
    font-size: 150%;
}

.paddingHeader {
    padding-top: 40px;
}

